chart {
	max-width: 100%;
	overflow:auto;	
}

.grandparent rect {
	fill: #3a5998;
}

.grandparent:hover rect {
	fill: #8b9dc3;
}

.grandparent text {
	font-weight: bold;
	fill: white;
}

rect.parent,
.grandparent rect {
	stroke-width: 2px;
	stroke: #3a5998;
}

.children rect.parent,
.grandparent rect {
	cursor: pointer;
}

.textdiv {
	padding: 5px;
}


